<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
		<meta name="google-site-verification" content="QBE3VtuapW-Eo-w2rQP9gTSZg1TQalEfwhhE9k9jiR0" />
    </head>

    <body class="index">
       <header class="head">
           {% include nav.html %}
        </header>
        <section class="margin">
            <div class="content">
                {% if page.title %}<h1 class="title">{{ page.title }}</h1>{% endif %}
                <div class="articles">
                    {{ content }}
                </div>
            </div>
        </section>
        {% include footer.html %}
		{% if site.infinite_scroll == true %}
			<script src="{{ site.baseurl | replace: '//', '/' }}/js/build/infinite.min.js"></script>
		{% endif %}
    </body>
</html>
